<h5>
  Criar/Editar Opportunity
</h5>

<div class="col s12">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <!-- <div class="row" [hidden]="!entity.id">
      <div class="input-field col s12">
        <input disabled  name="id" id="disabled" type="text">
        <label for="disabled" class="active">#</label>
      </div>
    </div> -->
    <div class="row">
      <div class="input-field col s12">
        <input id="name" formControlName="name" class="validate" [ngClass]="{'invalid': valid('name')}">
        <label for="name" class="active" data-error="This field is required.">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" formControlName="email" type="email" class="validate" [ngClass]="{'invalid': valid('email')}">
        <label for="email" class="active" data-error="Email invalid.">Email</label>
      </div>
    </div>
    
    <div class="row">
      <button class="btn waves-effect waves-light red" type="button" (click)="reset()">
        <i class="material-icons left">close</i> Reset
      </button>

      <button class="btn waves-effect waves-light right" type="submit">
        <i class="material-icons left">cloud</i> Save
      </button>
    </div>
  </form>
  <form-debug [form]="form"></form-debug>
</div>