<main>
  <div id="login-page" class="row">
    <div class="col m6 offset-m3 s12 offset-s0 z-depth-4 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">Login</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input id="user" type="text" name="name" [(ngModel)]="user.name">
            <label for="user" class="center-align">User</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" name="password" [(ngModel)]="user.password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right" type="button" (click)="login()">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="page-register.html" data-unsp-sanitized="clean">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small"><a data-unsp-sanitized="clean">Forgot password ?</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>